# backend
*.pyc
*.sqlite*
.venv/
*/migrations
*/logs
*/config
material-*/

# frontend
node_modules
.DS_Store
dist
dist-ssr
*.local
.eslintcache
report.html
vite.config.*.timestamp*

yarn.lock
npm-debug.log*
.pnpm-error.log*
.pnpm-debug.log
tests/**/coverage/
/**/static/

# docs
/**/.vitepress/cache
/**/.vitepress/dist

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
tsconfig.tsbuildinfo

.logs/
.pids/
.sisyphus/